# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# FIREBASE — Copiez depuis la console Firebase
# Console → Paramètres → Vos applications → Config
# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

VITE_FIREBASE_API_KEY=AIzaSyCYrLsi1ZNh8ulRPO4ijmbQ3kyFKRUFkhk
VITE_FIREBASE_AUTH_DOMAIN=recueilbesoin-ps.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=recueilbesoin-ps
VITE_FIREBASE_STORAGE_BUCKET=recueilbesoin-ps.firebasestorage.app
VITE_FIREBASE_MESSAGING_ID=868487697563
VITE_FIREBASE_APP_ID=1:868487697563:web:e25de127f49fc3201a223e
